<div>
  <loader [loading]="loading"></loader>
</div>


<div class="container" [style.font-size]="'20px'">
 <h2 *ngIf="!loading" [style.color]="'#2e3d50'">Users</h2><br>


<div *ngIf="!boolAddUser && !boolEditUser && !loading">
 <button (click)="AddAddUserForm()"class="btn btn-primary" [style.font-size]="'30px'" 
 [style.background-color]="'#2e3d50'"><i class="glyphicon glyphicon-plus" [style.font-size]="'20px'"></i>  Add User</button><br><br>
</div>

<h1 *ngIf="boolAddUser" [style.color]="'#2e3d50'" [style.margin-left]="'80px'" [style.margin-top]="'40px'">Add a User</h1>

 <div class="container" *ngIf="boolAddUser">
 <form #trvForm="ngForm" (ngSubmit)="AddUser(trvForm)">

 <div class="form-group" id="inputDiv">
 <h3>User</h3>

 <label for="idName">Name</label>
 <input id="idName" name="name" type="text" 
 class="form-control" required [(ngModel)]="name" #trvName="ngModel">

 <div *ngIf="trvName.errors && (trvName.dirty || trvName.touched)" class="alert alert-danger">
 <div [hidden]="!trvName.errors.required">
 Name is required 
 </div>
 </div>

 <label for="idEmail">Email</label>
 <input id="idEmail" name="email" type="email" 
 class="form-control" required [(ngModel)]="email" #trvEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

 <div *ngIf="trvEmail.errors && (trvEmail.dirty || trvEmail.touched)" class="alert alert-danger">
 <div [hidden]="!trvEmail.errors.required">
 Email is required
 </div>
 <div [hidden]="!trvEmail.errors.pattern">
 Enter Only a Valid Email
 </div>
 </div>

 <label for="idPhone">Phone</label>
 <input id="idPhone" name="phone" type="text" 
 class="form-control" [(ngModel)]="phone" #trvPhone="ngModel">


  <br><h3>Address</h3>

  <label for="idStreet">Street</label>
 <input id="idStreet" name="street" type="text" 
 class="form-control" [(ngModel)]="street" #trvStreet="ngModel">


   <label for="idSuite">Suite</label>
 <input id="idSuite" name="suite" type="text" 
 class="form-control" [(ngModel)]="suite" #trvSuite="ngModel">


   <label for="idCity">City</label>
 <input id="idCity" name="city" type="text" 
 class="form-control" [(ngModel)]="city" #trvCity="ngModel">


   <label for="idZipCode">ZipCode</label>
 <input id="idZipCode" name="zipCode" type="text" 
 class="form-control" [(ngModel)]="zipCode" #trvZipCode="ngModel">


 </div>
 <button [disabled]="!trvForm.valid" class="btn btn-primary" id="btnSave">Save</button>
 <p *ngIf="boolmsgAdd" class="alert alert-danger" [style.color]="'red'" [style.size]="'30px'">{{msgAdd}}</p>
 </form>
</div>
 
 







 
 <table class="table table-bordered" *ngIf="!boolAddUser && !boolEditUser && !loading">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arUsers">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td><i class="glyphicon glyphicon-edit" id="edit" (click)="AddEditUserForm(item)"></i></td>
        <td><i class="glyphicon glyphicon-remove" id="remove" (click)="GetUserToDelete(item)" data-toggle="modal" data-target="#myModal"></i></td>
      </tr>      
    </tbody>
  </table>
</div>


 <div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">DELETE</h3>
        </div>
        <div class="modal-body">
          <p [style.font-size]="'22px'">Are you sure you want to delete this user?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="DeleteUserHandler()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>









<h1 *ngIf="boolEditUserr" [style.color]="'#2e3d50'" [style.margin-left]="'80px'" [style.margin-top]="'40px'">Edit User</h1>

 <div class="container" *ngIf="boolEditUser">
 <form #trvForm="ngForm" (ngSubmit)="EditUser(trvForm)">

 <div class="form-group" id="inputDiv">
 <h3>User</h3>

 <label for="idName">Name</label>
 <input id="idName" name="name" type="text" 
 class="form-control" required [(ngModel)]="name" #trvName="ngModel">

 <div *ngIf="trvName.errors && (trvName.dirty || trvName.touched)" class="alert alert-danger">
 <div [hidden]="!trvName.errors.required">
 Name is required 
 </div>
 </div>


 <label for="idEmail">Email</label>
 <input id="idEmail" name="email" type="email" 
 class="form-control" required [(ngModel)]="email" #trvEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

 <div *ngIf="trvEmail.errors && (trvEmail.dirty || trvEmail.touched)" class="alert alert-danger">
 <div [hidden]="!trvEmail.errors.required">
 Email is required
 </div>
 <div [hidden]="!trvEmail.errors.pattern">
 Enter Only a Valid Email
 </div>
 </div>


 <label for="idPhone">Phone</label>
 <input id="idPhone" name="phone" type="string" 
 class="form-control" [(ngModel)]="phone" #trvPhone="ngModel">



 <br><h3>Address</h3>

  <label for="idStreet">Street</label>
 <input id="idStreet" name="street" type="text" 
 class="form-control" [(ngModel)]="street" #trvStreet="ngModel">


   <label for="idSuite">Suite</label>
 <input id="idSuite" name="suite" type="text" 
 class="form-control" [(ngModel)]="suite" #trvSuite="ngModel">


   <label for="idCity">City</label>
 <input id="idCity" name="city" type="text" 
 class="form-control" [(ngModel)]="city" #trvCity="ngModel">


   <label for="idZipCode">ZipCode</label>
 <input id="idZipCode" name="zipCode" type="text" 
 class="form-control" [(ngModel)]="zipCode" #trvZipCode="ngModel">


 </div>
 <button [disabled]="!trvForm.valid" class="btn btn-primary" id="btnSave">Save</button>
 <p *ngIf="boolmsgEdit" class="alert alert-danger" [style.color]="'red'" [style.font-size]="'30px'">{{msgEdit}}</p>
 </form>
</div>